//darker background r g and b vals
$bg2R: 219;
$bg2G: 218;
$bg2B: 234;
//header r g and bs
$hr: 73;
$hg: 53;
$hb: 72;

// //header r g and bs
// $hr: 241;
// $hg: 218;
// $hb: 196;

//paragraph r g and b
$bodR: 166;
$bodG: 156;
$bodB: 172;


$p-font : 'Work Sans';
$h-font : 'Eczar';

.h-serif {
    font-family: $h-font;
    color: rgb($hr, $hg, $hb);
}

.p-sans {
    font-family: $p-font;
    color: rgba($hr, $hg, $hb, 0.8);
}

.os-btn {
    background-color: rgba($hr, $hg, $hb, 0.7);
    font-family: $h-font;
    padding-top: 2px;
}

.side- {
    border-left: 5px solid black;
}

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: rgba($hr, $hg, $hb, 1.0);
}

.cls-3 {
  fill: rgba($hr, $hg, $hb, 0.25);
}

.cls-4 {
  fill: rgba($hr, $hg, $hb, 0.5);
}

.cls-5 {
  fill: rgba($hr, $hg, $hb, 0.75);
}
.os-btn:hover {
  background-color: rgba($hr, $hg, $hb, 0.5);
  text-shadow: 1px 1px 10px black;
}

.page-break {
  border-top: 1px solid rgba(0,0,0,0.08);
  border-bottom: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.04);
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
  color: #493548;
}